include head
body 
  .wrapper 
    main.main 
      aside.border-right.bg-alt 
        header 
          a.logo.flex(href=`${app_url}`, target="_blank" rel="noopener noreferrer") 
            if app_logo 
              img(src=`${app_logo}` width="48px" height="48px" alt=`${client_id}`)
              span= `${app_name}`
            else 
              img(src="/img/spruce.webp" width="48px" height="48px" alt="Spruce")
              span Spruce
        footer 
          h3.marginTop-2 Logging in to 
            a(href=`${client_id}`, target="_blank" rel="noopener noreferrer")= client_id
          p.marginTop-2 You will be redirected to #{redirect_uri}
      aside
        header.text-right 
          small Log in as:  
            a(href=`${me}`, target="_blank" rel="noopener noreferrer")= me 
        block main
include svg