extends layout 
block main 
  h1.header You are logging In to: #{client_id}
  .auth-wrapper.text-center
    p You will be redirected to:  #{redirect_uri}
    a.btn(href=`${redirect_uri}?code=${code}&state=${state}`) Continue
    p.marginTop-2 Log In with a different account
    a.btn(href=`auth/?${switch_account}`) Switch Account
